*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav{
    background-color: rgb(117 117 117 / 20%);
    height: 60px;

}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav li:first-child {
    margin-right: 50px; 
}

nav a {
    text-decoration: none;
    color: #050505;
    font-size: 16px;
    transition: color 0.3s; 
}

nav a:hover {
    color: #007bff;

}

nav ul h1{
    text-align: left;
    color: #183942c9;
    padding-top: 12px;
    padding-left: 20px;
    width: 15%;
    font-weight:bold ;
    font-size: 24px;
}

.profile{
    background-color:rgb(9 9 63);
    text-align: center;
    
  
}

.profile p{
    color:  #efefef;
    padding-top: 55px;
    font-size: x-large;
}

.profile img{
    border-radius: 50%;
    width: 165px;
    height: 215px;
    margin-bottom: 40px;
}

.about{
    background-color: rgb(134 134 199);
    color:  black;
}

.about p{
    text-align: left;
    white-space: pre-line;
    padding-top: 25px;
    padding-left: 40%;
    color: black;
    font-weight: bold;
    font-weight: 20px;
}

.about img{
    width: 225px;
    margin-left: 15%;
    margin-top: -22%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 75%)
}

.about h1{
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    margin-right: 40%;
    padding-top: 110px;

}




.container-fluid {
    max-width: 100%;
    padding: 0 20px; 
    margin: 0 auto; 
    background-color: rgb(134 134 199);
    text-decoration: underline;
    
  
}


.container-fluid h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    padding-top: 60px;
    padding-left: 25%;
}

.col-6 h2{
    
}

.col-6 {
    float: left;
    width: 50%;
    padding: 0 10px; 
    box-sizing: border-box;
}


.row::after {
    content: "";
    display: table;
    clear: both;
}

 p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.footer{

    background-color: #2e2c2ceb;
    color: whitesmoke;
    text-align: center;
    height: 60px;
    padding: 20px;
}